<% layout("layouts/boilerplate") %>

<h1>Create User</h1>
<form action="/register" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>

    <label for="isMemeRecommendationEnabled">Enable Meme Recommendation:</label>
    <input type="checkbox" id="isMemeRecommendationEnabled" name="isMemeRecommendationEnabled"><br><br>

    <button type="submit">Create User</button>
</form>
